doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href=/javascripts/rcarosel/widget/css/rcarousel.css')
    script(src='http://code.jquery.com/jquery.js')
  body
    block content